@import './colors';
@import './global';
@import './media';

.header-section{
    display: flex;
    align-items: center;
    height: 83px;
    padding: 0 80px;
    @media (max-width: 431px){
        padding: 16px 20px;
    }

    .header__logo{
    padding-right: 74px;
    }

    .header nav{
    margin-right: auto;
    margin: 0;
    padding: 0;
    }

    .header__nav-list{
    list-style: none;
    display: flex;
    gap: 56px;
    }

    .header__nav-link{
    text-decoration: none;
    font-size: 16px;
    }

    .header-right{
    display: flex;
    align-items: center;
    gap: 56px;
    margin-left: auto;
    }

    .header-right__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    font-size: 16px;
    }
}  

.main-section{
    background-image: url("/images/overview/Gradient.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    @media (max-width: 431px){
        width: 100%;
        height: auto;
        background-size: auto;
    }

    .main-section__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .main-section__texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 846px;
    margin-top: 24px;
    @media (max-width: 431px){
        width: auto;
    }
    }

    .main-section__links{
    display: flex;
    align-items: center;
    gap: 40px;
    }

    .main-section__button{
    width: 160px;
    height: 56px;
    background-color: #4328EB;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    }

    .main-section__link{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #4328EB;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    }

    .main-section__images{
    position: relative;
    margin-top: 60px;
    padding: 0;
    width: 1150px;
    height: 738px;
    @media (max-width: 431px) {
        width: 100%;
        height: auto;
    }
    }

    .main-section__img-desktop{
    width: 957px;
    height: 680px;
    border-radius: 16px;
    @media (max-width: 431px) {
        width: 100%;
        height: auto;
    }
    }

    .main-section__img-mobile{
    width: 271px;
    height: 585px;
    position: absolute;
    top: 152px;
    left: 879px;
    border-radius: 16px;
    @media (max-width: 431px) {
        width: 100%;
        height: auto;
    }
    }

    .main-section__logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 97px;
    margin-top: 64px;
    margin-bottom: 80px;
    @media (max-width: 431px){
        display: flex;
        flex-wrap: wrap;
    }
    }

    .companies{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    }
}

.features{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 120px 80px 120px 80px;
}

.feature{
    display: flex;
    gap: 24px;
    padding: 0;
    justify-content: center;

    .feature__item{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 620px;
    padding: 56px 56px 0 0;
    box-sizing: border-box;
    }

    .feature__heading{
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 572px;
    }

    .feature__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    }

    .feature__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: none;
    background-color: transparent;
    color: #0085FF;
    width: 138px;
    height: 76px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    }
}    

.feature-2{
    display: flex;
    gap: 24px;
    padding: 0;
    justify-content: center;

    .feature-2__item{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 620px;
    padding: 56px 0 0 56px;
    box-sizing: border-box;
    }

    .feature-2__heading{
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 572px;
    }

    .feature-2__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    }

    .feature-2__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: none;
    background-color: transparent;
    color: #00A424;
    width: 138px;
    height: 76px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    }
}

.testimonials{
    background-color: #F4F8FA;
    padding: 96px 0 104px 0;
    display: flex;
    gap: 72px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .testimonials__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 680px;
    gap: 16px
    }

    .testimonials__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;
    }
}

.faq{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 120px 80px 60px 80px;

    .faq__content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 519px;
    }

    .faq__question{
    display: flex;
    flex-direction: column;
    gap: 16px;
    }

    .question-1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 737px;
    border-radius: 8px;
    padding: 24px;
    background-color: #E3F1FF;
    }

    .question{
    border-radius: 8px;
    padding: 24px;
    background-color: #E3F1FF;
    }
}

.plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 60px 80px 120px 80px;

    .plans__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 628px;
    }

    .plans__prices{
        display: flex;
        gap: 24px;

        .free-trial{
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 24px 24px;
            width: 411px;
            height: 490px;
            border: 1px none;
            border-radius: 8px;
            background-color: #F5F4FF;

            .free-trial__heading{
            display: flex;
            flex-direction: column;
            gap: 16px;
            }

            .free-trial__list{
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style: none;
            }

            .free-trial__list-item{
            font-size: 18px;
            font-weight: 400;
            display: flex;
            gap: 16px;
            }
        }

        .business{
            width: 411px;
            height: 490px;
            border: 1px none;
            border-radius: 8px;
            background-color: #4328EB;
        }

        .enterprise{
            width: 411px;
            height: 490px;
            border: 1px none;
            border-radius: 8px;
            background-color: #F5F4FF;
        }
    }
}

